{% extends "base.html" %}

{% block content %}
<h2>Dashboard de Animes</h2>

<!-- Container do grid -->
<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 40px;">

  <!-- Coluna 1 -->
  <div>
    <h3></h3>
    {{ grafico_generos_freq | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_combos | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_nota_genero_top | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_nota_genero_worst | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_estudios | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_pop | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_score_dist | safe }}
  </div>

  <div>
    <h3></h3>
    {{ grafico_pizza_generos | safe }}
  </div>

</div>

{% endblock %}
