{% extends "base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 60px;">
        <h2>Bem-vindo ao MAOMAO</h2>
        <div style="margin: 30px 0;">
            <a href="{{ url_for('mostrar_generos') }}">
                <button style="padding: 16px 32px; font-size: 1.2em; margin-right: 20px; background: #1abc1a; color: #fff; border: none; border-radius: 8px; cursor: pointer;">
                    Preditor de nota
                </button>
            </a>
            <a href="{{ url_for('dashboard') }}">
                <button style="padding: 16px 32px; font-size: 1.2em; background: #333; color: #fff; border: none; border-radius: 8px; cursor: pointer;">
                    Dashboard
                </button>
            </a>
        </div>
    </div>
{% endblock %}